{% extends "base.html" %}

{% block title %}
{{ machine }} - {{ block.super }}
{% endblock %}

{% block content %}

{% if err %}<p><strong>{{ err }}</strong></p>{% endif %}

<h1>{{ machine }} is {{ machine.get_state_display|upper }}</h1>
<p>Last updated {{ machine.last_updated|timesince }} ago.

{% if machine.latest_comment %}
	Current status:</p>

	<q>{{ machine.latest_comment }}</q>
{% else %}
</p>
{% endif %}

<h1>Update {{ machine.get_kind_display }} status</h1>

<form action="{% url votes.views.edit machine.id %}" method="post">
	{% csrf_token %}
	{{ form.as_p }}
	<input type="submit" value="Submit">
</form>

{% endblock %}
