{% extends "base.html" %}

{% block content %}

{% if washer_list %}
	<h1>Washing machines</h1>
	<ul>
	{% for machine in washer_list %}
		<li>
			<a href="{% url votes.views.detail machine.id %}">{{ machine }}</a>
			 - <span class="state-{{ machine.state }}">{{ machine.get_state_display }}</span>
		</li>
	{% endfor %}
	</ul>
{% endif %}

{% if dryer_list %}
	<h1>Tumble driers</h1>
	<ul>
	{% for machine in dryer_list %}
		<li>
			<a href="{% url votes.views.detail machine.id %}">{{ machine }}</a>
			 - <span class="state-{{ machine.state }}">{{ machine.get_state_display }}</span>
		</li>
	{% endfor %}
	</ul>
{% endif %}

{% if not washer_list and not dryer_list %}
<p>No machines available.</p>
{% endif %}

{% endblock %}
